# Example configuration file for the jenkins-debian-glue software.
# Install this file as /etc/jenkins/debian_glue to enable it.

# Set GnuPG ID that should be used for signing the reprepro repository.
# Expected format: DEADBEEF
# KEY_ID=

# If packages are build for more than one architecture you can
# decide which architecture should build the "Architecture: all"
# packages. On all other architectures only the arch specific
# packages will be build then.
# If unset it will default to the architecture of the host system.
# MAIN_ARCHITECTURE="amd64"

# Hook scripts for pbuilder/cowbuilder, used e.g. for autopkgtest.
# Default:
# PBUILDER_HOOKDIR=/usr/share/jenkins-debian-glue/pbuilder-hookdir/

# Location where dput can take the packages and upload them back
# to the archive.
# Default:
# OUTGOING_DIR='/srv/buildd/outgoing'

# Use an extra repository only for buildds to fetch packages before
# they are installed by a dinstall run.
# This saves a lot of time and makes transitions easier.
# Default:
# BUILDD_REPOSITORY="NOT IMPLEMENTED YET"

# Logfile location
# Default:
# LOG_DIR='/srv/buildd/logs'
